.container-project-img:hover  > figure {
    width: 100%;
}

.project-img{
    width: 90%;
    max-height: 320px;
    margin: auto;
    object-fit: cover;
    transition: ease-in-out 0.4s;
}

.project-paragraph{
    word-spacing: 1rem;
    margin: 10px 0px;
    overflow: hidden;
    text-overflow: ellipsis;
}